body{
    background-color:rgba(0, 0, 0, 0.836);
}
h1 {
    font-family: 'Inconsolata', monospace;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 0;
    line-height: 1;
}
footer {
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}
.weather-app {
    display: block;
    margin: 50px auto;
    margin-bottom: 0;
    padding: 20px;
    padding-top: 10px;
    max-width: 600px;
    border: 2px solid darkslategray;
    text-align: center;
    color: white;
}
.search {
    padding: 0;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    max-width: 50%;
    background-color: transparent;
    border-bottom: 1px solid darkslategray;
    color: white;
    font-family:'Inconsolata', monospace;
    font-weight: 100;
    font-size: 15px;
}
.search-button {
    border: 1px solid slategrey;
    border-radius: 3px;
    max-width: 20%;
    background-color: transparent;
    color: white;
    font-family:'Inconsolata', monospace;
    font-weight: 200;
    font-size: 13px;
}
.search-button:hover {
    background-color: white;
    color: black;
    font-weight: 600;
    transition: 200ms all ease-in-out;
    cursor: pointer;
}
.current-information {
    list-style: none;
    padding-left: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 13px;
    font-weight: 100;
    margin:0;
    line-height: 1;
    text-transform: capitalize;
}
.weather-illustration {
    max-width: 80px;
    max-height: 70px;
    position: relative;
    top: -10px;
    left: -5px;
    
}
.temperature {
    font-family:'Inconsolata', monospace;
    font-size: 85px;
    font-weight: 500;
    margin-right: 0;
    text-align: center;
}
.units {
    position: relative;
    top: -42px;
    left: -70px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 100;
    font-size: 18px;
}
.units a {
    color: white;
    text-decoration: none;
}
.units a:hover {
    color: white;
    transition: 100ms all ease-in-out;
    cursor: pointer;
    text-decoration: underline;
}
.units .active {
    color: slategray;
    font-weight: 900;
}

.units .active:hover {
    color: slategray;
    text-decoration: none;
    cursor: default;
    transition: 100ms all ease-in-out;
}
.weather-condition {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.source-code {
    text-decoration: none;
    color: slategrey;
}
.source-code:hover {
    color: slateblue;
    text-decoration: underline;
    transition: 00ms all ease-in-out;
    cursor: pointer;
}
.credits {
    color: rgba(255, 255, 255, 0.63);
}